<html>
    <head>
        <title>Login</title>
    </head>
    <body> 
        <form action="/login" method="post">
            Fruit:
            <select name="fruit">
                <option value="apple">Apple</option>
                <option value="banana">Banana</option>
                <option value="pear">Pear</option>
                <option value="durian">durian</option>
            </select><br>
            <br>
            <input type="radio" name="gender" value="1">Male
            <input type="radio" name="gender" value="2">Female<br>
            <br>
            email: <input type="text" name="email"><br>
            <br>
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>